<section>
  <h1>
    Born: October 31st, 1981 in Elgin, Illinois to Tony and Donna Cannon About: Tyrell received his Bachelors in Fine Art from The School of the Art Institute of Chicago, with an emphasis drawing, print, and film. As a comics artist, he's created work in the genres of science fiction (Victus), true crime (Gary, based on the Green River Killer), and experimental short form comics (Simon). His primary focus is to explore comics with an emphasis on variety of theme, mode of presentation, and technique. He is also the co-editor and co-creator of the science fiction romance comics anthology Speculative Relationships. Tyrell's work has been featured in Dark Horse Comics Ghost Fleet, Image Comics Dark Engine, and he is the inker on Opertoon's Upgrade Soul for iPad.
  </h1>
</section>