<div class="header-wrapper">
  <div>
    <%= link_to image_tag("ty-home-image.jpg", :alt => ""), "/" %>
  </div>
</div>
<section>
  <h1 class="page-header">TYRELL CANNON</h1>

  <div class="home-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "POSTS", "posts/index" %></h1>
    </div>
  </div>

  <div class="home-cube-wrapper">
    <div class="cube-top-left"></div>
    <div class="cube-bottom-right"></div>
    <div class="content-cube">
      <h1 class="index-link"><%= link_to "COMICS", "comics" %></h1>
    </div>
  </div>
</section>

