<section>
  <% @comics.each do |series| %>
      <div class="comics-well">
        <%= link_to "comics/#{series.id}" do %>
          <%= image_tag( "#{series.series_image}" ) %>
        <% end %>
      </div>
  <% end %>
</section>