<section>
  <h1>COMIX!</h1>
  <div>
    <h2>Simon</h2>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/14/15/enhanced/webdr06/enhanced-buzz-19045-1450123994-5.jpg" alt="">
    <p>This comics is MY SHIIIIT!</p>
  </div>

  <div>
    <h2>Simon</h2>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/14/15/enhanced/webdr06/enhanced-buzz-19045-1450123994-5.jpg" alt="">
    <p>This comics is MY SHIIIIT!</p>
  </div>

  <div>
    <h2>Simon</h2>
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/14/15/enhanced/webdr06/enhanced-buzz-19045-1450123994-5.jpg" alt="">
    <p>This comics is MY SHIIIIT!</p>
  </div>
</section>

