<section class="main-section container-fluid">
  <div class="comics-index-span row">
    <% @comics.each do |series| %>
      <%= link_to "comics/#{series.id}" do %>
        <div class="comics-well col-lg-6">
          <%= image_tag( "#{series.series_image}" ) %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>