<!-- BUILD A SLIDESHOW WITH A NAV BAR ON THE LEFT -->
<!-- SLIDESHOW DEFAULTS TO PAGE ONE OF ISSUE -->
<!-- BUY BUTTON ON BOTTOM -->
<section>
  <div class="issues-nav">
  <!-- each image links to that image -->
    <% 4.times do %>
      <%= link_to "#" do %>
       <%= image_tag( "#{@comic.series_image}" ) %>
      <% end %>
    <% end %>
  </div>

  <div class="issues-show-main-image">
    <%= link_to "#" do %>
      <%= image_tag( "#{@comic.series_image}" ) %>
    <% end %>
  </div>
</section>