/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

 :root {
  --main-bg-color: white;
  --cube-left-color: rgb(69, 68, 68);
}

html, body {
  height: auto;
}

body {
  background-color: var(--main-bg-color);
  padding-bottom: 5%;
  font-family: Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #C4C4C4;
  text-decoration: none;
}

button {
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
}

footer {
  text-align: center;
  height: 5%;
  position: relative;
  font-size: 1.5em;
}

footer p {
  display: inline;
  padding: 10%;
}

section {
  margin: 5%;
  min-height: 100%;
  overflow: hidden;
}

section:after {
  content: "";
  display: block;
}

.main-section {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

.comics-index-span {
  margin-bottom: 5%;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

.comics-shop-span {
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.clearfooter {
  height: 5%;
  clear: both;
}

.header-wrapper {
  height: 70%;
  text-align: center;
  margin: 3%;
  font-size: 15px;
  overflow: hidden;
}

.home-hover-buttons:hover .header-image {
  visibility: hidden;
  overflow: hidden;
}

.header-image {
  border: 3px solid black;
  display: inline-block;
  z-index: 2;
  width: 98%;
  left: 0;
  top: 0;
}

.header-wrapper div {
  width: 30%;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  padding: 0;
}

.header-wrapper div h1, .header-wrapper div p {
  border: 3px solid black;
  padding: 6% 0 7% 0;
  margin: 4% 0 1% 0;
}

.home-button {
  display: inline-block;
  background-color: white;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  padding-left: 30%;
  padding-top: 40%;
  font-size: 45px;
}

#about {
  padding: 5%;
  text-align: justify;
}

.vertical-spacer {
  height: 50px;
  background-color: var(--main-bg-color);
  margin: 0;
}

.comic-description {
  text-align: center;
  margin-right: 7%;
  margin-left: 7%;
  font-size: 20px;
}

.comic-description h2 {
  padding: 1%;
  margin-bottom: 5%;
}

.comics-well {
  padding: 0%;
  margin-bottom: 10%;
}

.comics-well:hover .click-for-preview {
  visibility: visible;
}

.comics-well img {
  height: 400px;
  width: auto;
}

.click-for-preview {
  visibility: hidden;
  color: black;
  opacity: 0.7;
  position: absolute;
  right: 23%;
  top: 40%;
  font-size: 2em;
}

.comics-modal {
  text-align: center;
}

.comics-modal img {
  height: 700px;
}

.issues-index-wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin-bottom: 5%;
}

.issues-main-image {
  display: inline;
  width: 30%;
  margin-right: 4%;
}

.issues-index {
  width: 55%;
  display: inline-block;
}

.issues-index img {
  padding: 1%;
  width: 26%;
}

.issues-nav {
  display: block;
  text-align: center;
  margin-left: -45%;
  margin-right: -45%;
}

.issues-nav img {
  padding: 1%;
  display: inline;
  width: 15%;
  left: 0;
  right: 0;
}

.opacity-off {
  opacity: 0;
}

.slideshow-thumbnails {
  margin-left: 32%;
}

.page-header {
  font-size: 40px;
  text-align: center;
}

.index-cube-wrapper {
  width: 100%;
  background-color: white;
  padding: 0;
  position: relative;
}

.index-link {
  text-align: center;
}

.cube-top-left {
  background-color: var(--main-bg-color);
  float: left;
  border-left: 90px solid transparent;
  border-bottom: 70px solid var(--cube-left-color);
}

.cube-bottom-right {
  background-color: var(--main-bg-color);
  bottom: 0;
  right: 0;
  border-left: 90px solid black;
  border-bottom: 70px solid transparent;
  position: absolute;
}

.content-cube {
  background-color: white;
  padding: 1% 3% 3% 3%;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 70px solid black;
  border-left: 90px solid var(--cube-left-color);
}

.show-header h1 {
  margin: 0;
  font-size: 70px;
  text-align: center;
}

.series-image {
  text-align: center;
  overflow: hidden;
}

.series-image img {
  opacity: 0.7;
  height: 250px;
}

.content-cube h1 {
  padding-left: 0;
  font-size: 30px;
}

.new-form {
  list-style: none;
}

.new-form textarea {
  width: 90%;
  height: auto;
  min-height: 70px;
  margin: 2%;
  border-style: solid;
  border-width: 3px;
}

.post-text textarea {
  min-height: 500px;
}

.shop-image {
  padding: 3%;
}

.modal-body img {
  height: 650px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 600px;
}

.carousel-caption h4 {
  font-size: 25px;
  color: black;
}

